@import url('https://v1.fontapi.ir/css/Vazir');
@import url('https://v1.fontapi.ir/css/Sahel');
@import url('http://awebfont.ir/css?id=1069');
@import url('http://awebfont.ir/css?id=1047');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'B Koodak', tahoma, Arial;
  outline: none;
}

body {
  background-color: #f3eded;
  /* width: 100%;
  height: 100%; */
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

main {
  flex-grow: 1;
}

/* navbar */

.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-type {
  font-family: 'Vazir', sans-serif;
  cursor: pointer;
}

.nav-poster {
  width: 115px;
  height: 45px;
  border-radius: 9px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-poster > a{
  font-weight:600;
  font-size: 17px;
}

.left-side-navbar {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-around;
}

.my_account {
  color: black;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 50px;
  padding: 9px 20px;
  align-items: center;
  width: 100%;
}

.social-media-icons > a > i {
  color: black;
  font-size: 30px;
  cursor: pointer;
}

/* publics */

a {
  text-decoration: none;
  color: #fff;
}